@import url("https://fonts.googleapis.com/css?family=Spectral+SC:400,700|Merriweather&display=swap");
/* CSS variables */
:root {
  --grid-item-margin: 1.25rem; /* Controls the margin for grid items */
  --body-background-color: #e7f3ff;
  --heading-color: #393399;
  --box-shadow: rgba(0, 0, 0, 0.3);
  /* I also tried to make media query variables reusable, but they don't work with media queries. 
  https://stackoverflow.com/questions/40722882/css-native-variables-not-working-in-media-queries
   */
  /* --desktop-min-width: 1080px;
  --tablet-min-width: 720px;
  --retina-min-width: 1281px; */
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Merriweather", Georgia, serif;
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

section:nth-child(2)::before {
  content: "";
  display: table;
  clear: both;
  padding-top: 5%;
}

img {
  display: block;
  width: 95%;
  height: auto;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Spectral SC", Georgia, serif;
  clear: both;
  color: var(--heading-color);
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

h3 {
  font-size: 1.15rem;
  text-align: center;
  margin: 25px 10px 0 10px;
  font-weight: 400;
  color: rgb(173, 88, 8);
}

.grid-item {
  /* Calculation for four grid items that have margin on left and right sides (2 * margin-variable) */
  width: calc((100% - 4 * 2 * var(--grid-item-margin)) / 4);
  box-shadow: 0px 5px 25px 0px var(--box-shadow);
  border-radius: 5px;
  background-color: #fff;
  height: 36rem;
  margin: var(--grid-item-margin);
  display: grid;
}

#grid-floats,
#grid-flex {
  width: 100%;
  padding: 0 0.5rem;
}

#grid-floats .grid-item {
  float: left;
}

.grid-item p {
  margin: 0 auto;
}

ul {
  list-style: none;
}

li {
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

li:hover {
  top: -5px;
  box-shadow: 0 4px 5px var(--box-shadow);
}

ul p {
  margin: 0;
  padding: 15px;
  background: linear-gradient(rgba(255, 128, 8, 0.2), rgba(255, 200, 55, 0.1));
  box-shadow: 0px -5px 8px -5px var(--box-shadow);
}

.grid-item > p[dir="rtl"] {
  text-align: right;
}

#grid-flex {
  display: flex;
  flex-flow: row wrap;
}


/* SVG Black Friday Sale icon with heart beat animation*/
.grid-item:nth-child(1)::before {
  content: "";
  display: block;
  background-image: url("images/discount.svg");
  width: 125px;
  height: 100px;
  position: absolute;
  top: 60px;
  background-size: 125px 100px;
  animation: discount 2s infinite;
}

@keyframes discount {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.97);
  }
  35% {
    transform: scale(0.9);
  }
  45% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(0.9);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Queries */
@media only screen and (min-width: 1281px) {
  img {
    width: 60%;
  }
}
/* a four column grid, with the exception that the first item spans two columns. */
@media only screen and (min-width: 1080px) {
  .grid-item:nth-child(1) {
    width: calc((100% - 2 * 2 * var(--grid-item-margin)) / 2);
  }
}
/* a three column grid, with the exception that the first two items span the full width together */
@media only screen and (min-width: 720px) and (max-width: 1080px) {
  .grid-item {
    width: calc((100% - 3 * 2 * var(--grid-item-margin)) / 3);
  }
  .grid-item:nth-child(-n + 2) {
    width: calc((100% - 2 * 2 * var(--grid-item-margin)) / 2);
  }
}
/* a two column grid, with the exception that the first item spans the full width */
@media only screen and (max-width: 720px) {
  .grid-item {
    width: calc((100% - 2 * 2 * var(--grid-item-margin)) / 2);
  }
  .grid-item:nth-child(1) {
    width: calc(100% - 2 * var(--grid-item-margin));
    height: 40rem;
  }
  .grid-item p {
    font-size: 0.85rem;
  }
}
